@import '../variables.scss';

.issue-list-item {
  margin-bottom: 20px;

  .issue-box {
    background: white;
    border: 1px solid $light;
    border-bottom: none;
    border-radius: 2px;
    box-shadow: $boxshadow;
    margin-top: 3px;

    .issue-row {
      display: flex;
      padding: 15px;

      .issue-state {
        padding-right: 10px;
      }

      .issue-details {
        .issue-title {
          color: $dark;
          display: block;
          margin-bottom: 5px;
          padding: 2px 0;
        }

        .active {
          color: $dark;
          font-weight: bold;
        }

        .separator {
          margin: 0 5px;
        }
      }
    }

    .issue-reactions {
      border-top: 1px solid $light;
      display: flex;

      .issue-reaction {
        align-items: center;
        display: flex;
        padding: 10px 15px;

        &.active {
          svg {
            filter: none;
          }
          .issue-reaction-count {
            color: $dark;
            font-weight: bold;
          }
        }

        svg {
          filter: grayscale(75%);
          height: 24px;
        }

        .issue-reaction-count {
          color: $mid;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 749px) {
  .issue-list-item {
    .issue-reactions {
      .issue-reaction {
        flex-direction: column-reverse;
        flex-grow: 1;

        .issue-reaction-count {
          margin-top: 5px;
        }
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .issue-list-item {
    .issue-reactions {
      .issue-reaction {
        flex-direction: row-reverse;

        .issue-reaction-count {
          margin-left: 5px;
        }
      }
    }
  }
}
