@import '../variables.scss';

.issue-search {
  background: lighten($light, 5%);
  border-right: 1px solid darken($light, 5%);
  font-size: 0.8rem;
  padding: 20px;

  .sort-by-options {
    border: 1px solid $light;
    border-bottom: none;
    border-radius: 2px;
    box-shadow: $boxshadow;
    margin-bottom: 20px;

    .sort-by-item {
      background: white;
      border-bottom: 1px solid $light;
      color: $dark;
      display: block;
      outline: none;
      padding: 15px;

      &.active {
        font-weight: bold;
      }

      &:focus {
        border-color: $blue;
        text-decoration: none;
      }

      &:hover {
        background: lighten($light, 4%);
      }
    }

    .sort-by-reactions {
      background: white;
      display: flex;

      .sort-by-reaction {
        border-bottom: 1px solid transparent;
        border-radius: 2px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        outline: none;
        padding: 12px 0;

        &.active {
          svg {
            filter: none;
          }
        }

        &:focus {
          border-color: $blue;
        }

        &:hover {
          background: lighten($light, 3%);
        }

        svg {
          filter: grayscale(75%);
          height: 24px;
        }
      }
    }
  }
}
