{
  "presets": ["next/babel"],
  "plugins": [
    [
      "transform-assets",
      {
        "extensions": ["ico", "png", "svg"],
        "regExp": ".*/static/(.+)",
        "name": "/static/[1]?[sha512:hash:base64:7]"
      }
    ]
  ]
}
