@import '../styles/variables.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: $footerBackground;
  color: $footerForeground;
  height: $footerSize;
  font-weight: 300;

  box-shadow: 0px -1px 4px -1px rgba(0, 0, 0, 0.2),
              0px -2px 5px 0px rgba(0, 0, 0, 0.14),
              0px -1px 10px 0px rgba(0, 0, 0, 0.12);

  a {
    transition: $easeOut;
    padding: 10px;

    &:hover {
      opacity: .5;
    }
  }
}

.footer-note {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}
