@import '../styles/variables.scss';

.header {
  display: flex;
  position: fixed;
  background: $headerBackground;
  height: $headerSize;
  width: 100%;
  z-index: 2;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  a {
    color: $headerForeground;
    text-decoration: none;
  }
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-right {
  flex-direction: row-reverse;
  padding-right: 8px;
}

.header-nav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $easeOut;
  width: $headerSize;
  height: $headerSize;

  &:hover {
    background: lighten($headerBackground, 10%);
  }
}

.title {
  color: $headerForeground;
  font-family: Gibson, Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin-left: 8px;
}

.header-github {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $easeOut;
  border-radius: 50%;
  width: 48px;
  height: 48px;

  &:hover {
    background: lighten($headerBackground, 10%);
  }
}
