@import '../styles/variables.scss';

.issue-header {
  display: flex;
}

.issue-author {
  display: flex;
  flex-grow: 1;
  align-items: center;

  img {
    border-radius: 50%;
    margin-right: 5px;
  }
}

.issue-repository {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-grow: 1;

  span {
    margin: 0 5px;
  }
}

.issue-state {
  display: inline-block;
  vertical-align: top;
  width: 16px;
}

.issue-title {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 26px);
}

.issue-timestamp {
  color: $lightForeground;
  font-size: 0.8rem;
  margin-top: 3px;
}

.issue-footer {
  display: flex;
  padding: 0;
}

.issue-emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #eee;
  flex-grow: 1;

  &:last-child {
    border-right: none;
  }

  img {
    filter: grayscale(10%);
  }
}

@media (max-width: 799px) {
  .issue-author {
    font-size: 0.8rem;
  }

  .issue-repository {
    font-size: 0.8rem;
  }

  .issue-state {
    margin-right: 5px;
  }

  .issue-emoji {
    flex-direction: column;
    padding: 5px 0;

    img {
      margin-bottom: 5px;
    }
  }
}

@media (min-width: 800px) {
  .issue-state {
    margin-right: 10px;
  }

  .issue-emoji {
    padding: 10px 0;

    img {
      margin-right: 10px;
    }

    &.thin-emoji {
      img {
        margin-right: 5px;
      }
    }
  }
}
