@import '../styles/variables.scss';

$padding: 10px;
$paddingDelta: $headerSize - $padding * 2;

$paddingLg: 20px;
$paddingDeltaLg: $headerSize - $paddingLg * 2;

.scroll {
  position: fixed;
  overflow: auto;
  transition: $easeOut;
  top: $headerSize;
  height: calc(100% - #{$headerSize});
  width: 100%;

  &.nav-visible {
    opacity: .75;
  }
}

.content {
  background: $contentBackground;
  min-height: calc(100% - #{$headerSize} - #{$footerSize} + #{$paddingDelta});
  padding: $padding;
}

@media (min-width: 800px) {
  .content {
    min-height: calc(100% - #{$headerSize} - #{$footerSize} + #{$paddingDeltaLg});
    padding: $paddingLg;
  }

  .scroll {
    &.nav-visible {
      opacity: 1;
      margin-left: $navSize;
      width: calc(100% - #{$navSize});
    }
  }
}
