@import '../variables.scss';

.footer {
  background: $dark;
  bottom: 0;
  left: 0;
  position: fixed;
  transition: $quick;
  width: 200%;
  z-index: 1;

  &.next {
    left: -100%;
  }

  .container {
    display: flex;
  }

  a {
    align-items: center;
    display: inline-flex;
    flex-grow: 1;
    height: 54px;
    justify-content: center;

    &.active {
      svg {
        fill: $primary;
      }
    }
  }

  svg {
    fill: $mid;
    transition: $quick;
  }
}

@media only screen and (min-width: 1025px) {
  .footer {
    height: 433px;
    left: calc(50% - 467px);
    top: 67px;
    transition: none;
    width: 55px;

    .container {
      flex-direction: column;
    }

    .footer-pagination {
      display: none;
    }
  }
}
