@import '../variables.scss';

.footer {
  background: darken($light, 3%);
  border-top: 1px solid darken($light, 7%);
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  .container {
    display: flex;
  }

  a {
    align-items: center;
    display: inline-flex;
    flex-grow: 1;
    height: 54px;
    justify-content: center;
  }

  &.active {
    opacity: 0.5;
  }
}

// @media only screen and (min-width: 1200px) {
//   .footer {
//     background: $dark;
//     width: 50px;
//     height: 400px;
//     top: 62px;
//     left: calc(50% - 450px);

//     .container {
//       flex-direction: column;
//       width: 50px;
//     }
//   }
// }
