@import '../variables.scss';

.header {
  background: $dark;
  position: fixed;
  width: 100%;
  z-index: 10;

  .container {
    display: flex;
  }

  .header-anchor {
    align-items: center;
    display: inline-flex;
    height: 55px;
    padding: 0 $pad;
  }

  svg {
    g {
      fill: $mid;
    }
  }
}
