@import '../variables.scss';

.header {
  background: darken($light, 3%);
  border-bottom: 1px solid darken($light, 7%);
  position: fixed;
  width: 100%;
  z-index: 10;

  .container {
    display: flex;
  }

  a {
    align-items: center;
    display: inline-flex;
    height: 49px;
    padding: 0 $pad;
  }
}
