@import '../variables.scss';

.info {
  background: lighten($light, 3%);
  border: 1px solid darken($light, 10%);
  border-top: none;
  position: absolute;
  transition: $quick;
  top: 55px;
  right: 0;
  width: 250px;

  &.collapsed {
    opacity: 0;
    visibility: hidden;
  }

  .description {
    font-size: 0.8rem;
    padding: $pad;
  }

  .info-anchor {
    border-top: 1px solid darken($light, 3%);
    color: $dark;
    display: block;
    font-size: 0.8rem;
    padding: $pad;
    width: 100%;

    svg {
      fill: $dark;
      margin-right: 5px;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .info {
    right: calc(50% - 400px);
  }
}
