@import '../variables.scss';

.info {
  background: lighten($light, 3%);
  border: 1px solid darken($light, 10%);
  border-top: none;
  position: absolute;
  transition: $quick;
  top: 55px;
  right: 0;
  width: 250px;

  &.collapsed {
    opacity: 0;
    visibility: hidden;
  }

  .description {
    font-size: 0.8rem;
    padding: $pad;
  }

  .info-anchor {
    border-top: 1px solid darken($light, 3%);
    color: $dark;
    display: block;
    font-size: 0.8rem;
    padding: $pad;
    width: 100%;

    &.gold-sponsor {
      color: $primary;
      font-weight: bold;
      position: relative;

      svg {
        fill: $primary;
      }

      .gold-sponsor-label {
        color: $mid;
        font-size: 0.6rem;
        font-weight: normal;
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
      }
    }

    svg {
      fill: $dark;
      margin: -1px 5px 1px 0;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .info {
    right: calc(50% - 400px);
  }
}
