@import '../variables.scss';

.issue-list-item {
  background: white;
  margin-bottom: $pad;

  &:last-child {
    margin-bottom: 0;
  }

  &.expanded {
    .issue-title {
      a {
        background: $dark;
        color: $light;
      }
    }
  }

  .issue-title {
    border-bottom: 1px solid $light;
    word-wrap: break-word;

    a {
      color: $dark;
      display: block;
      padding: $pad;
    }
  }

  .issue-body {
    border-top: 1px solid $light;
    padding: $pad;
    word-wrap: break-word;

    img {
      max-width: 100%;
    }

    pre {
      background: $light;
      overflow-x: auto;
      padding: 5px;
      width: 100%;
    }
  }

  .issue-repo {
    padding: $pad $pad 0;

    svg {
      margin-left: 5px;
      vertical-align: sub;
    }
  }

  .issue-meta {
    padding: $pad;

    // .active {
    //   font-weight: bold;
    // }

    svg {
      margin-right: 5px;
      vertical-align: sub;
    }
  }

  .issue-repo,
  .issue-meta {
    a {
      color: $dark;
      pointer-events: none;
    }
  }

  .issue-reactions {
    border-top: 1px solid $light;
    display: flex;
    padding: $pad;

    .issue-reaction {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: left;

      // &.active {
      //   font-weight: bold;
      // }
    }

    svg {
      margin-right: 5px;
      vertical-align: sub;
      height: 16px;

      g {
        fill: $mid;
      }
    }
  }
}
