@import '../variables.scss';

.issue-list-item {
  background: white;
  margin-bottom: $pad;

  &:last-child {
    margin-bottom: 0;
  }

  &.expanded {
    .issue-title {
      a {
        background: $dark;
        color: $light;
      }
    }
  }

  .issue-title {
    border-bottom: 1px solid $light;
    word-wrap: break-word;

    a {
      color: $dark;
      display: block;
      padding: $pad;
    }
  }

  .issue-body {
    border-top: 1px solid $light;
    padding: $pad;
    word-wrap: break-word;

    img {
      max-width: 100%;
    }

    pre {
      background: $light;
      overflow-x: auto;
      padding: 5px;
      width: 100%;
    }

    * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .issue-meta {
    color: $mid;
    font-size: 0.8rem;

    .issue-meta-breakpoint {
      padding-top: $pad;
    }

    .issue-meta-row {
      padding: 0 $pad $pad;

      &:first-child {
        padding-top: $pad;
      }
    }

    .push-right {
      margin-right: 10px;
    }

    svg {
      vertical-align: sub;

      g {
        fill: $mid;
      }
    }
  }

  .issue-reactions {
    border-top: 1px solid $light;
    display: flex;
    padding: $pad;

    .issue-reaction {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: left;

      // &.active {
      //   font-weight: bold;
      // }
    }

    svg {
      height: 16px;
      margin-right: 5px;
    }
  }
}

@media only screen and (min-width: 500px) {
  .issue-list-item {
    .issue-meta {
      .issue-meta-breakpoint {
        display: inline-block;
        padding-top: 0;
      }
    }
  }
}
