@import '../variables.scss';

.search {
  align-items: center;
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;

  input {
    background: white;
    border-radius: 0;
    border: none;
    opacity: 0.75;
    outline: none;
    padding: 8px;
    transition: $quick;
    width: 100%;

    &:focus {
      opacity: 1;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 2.5em white inset;
      box-shadow: 0 0 0 2.5em white inset;
    }
  }

  .autocomplete {
    background: lighten($light, 3%);
    border-left: 1px solid darken($light, 7%);
    border-right: 1px solid darken($light, 7%);
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 100%;

    li {
      border-bottom: 1px solid darken($light, 1%);
      padding: 10px 20px;

      &:hover {
        cursor: pointer;
      }

      &.highlight {
        background: darken($light, 1%);
      }

      svg {
        margin-right: 10px;
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .search {
    position: relative;
  }
}
