@import '../variables.scss';

.top-nav {
  background: $light;
  border-bottom: 2px solid darken($light, 5%);
  display: flex;

  .top-nav-right {
    margin-left: auto;
  }

  a {
    align-items: center;
    color: darken($mid, 15%);
    display: inline-flex;
    height: 60px;
    outline: none;
    padding: 0 20px;
    position: relative;
    transition: $easeout;

    &:hover {
      background: darken($light, 3%);
    }

    &:after {
      transition: $easeout;
    }

    &:focus:after {
      content: '';
      background: $blue;
      bottom: -2px;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
}
