$bodyBackground: #111;
$bodyForeground: #102027;

$headerBackground: #37474f;
$headerForeground: #eceff1;
$headerSize: 64px;

$navBackground: #f8f8fa;
$navSize: 300px;

$contentBackground: #fcfcff;

$footerBackground: #102027;
$footerForeground: #cfd8dc;
$footerSize: 200px;

$easeOut: all 0.2s ease-out;
